[submodule "thirdparty/rhi"]
	path = thirdparty/rhi
	url = https://github.com/rtryan98/rhi
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "thirdparty/fastgltf"]
	path = thirdparty/fastgltf
	url = https://github.com/spnda/fastgltf
[submodule "thirdparty/unordered_dense"]
	path = thirdparty/unordered_dense
	url = https://github.com/martinus/unordered_dense
[submodule "thirdparty/tclap"]
	path = thirdparty/tclap
	url = https://github.com/mirror/tclap
[submodule "thirdparty/xxHash"]
	path = thirdparty/xxHash
	url = https://github.com/Cyan4973/xxHash
[submodule "thirdparty/MikkTSpace"]
	path = thirdparty/MikkTSpace
	url = https://github.com/mmikk/MikkTSpace/
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb
