[submodule "thirdparty/rhi"]
	path = thirdparty/rhi
	url = https://github.com/rtryan98/rhi
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "thirdparty/fastgltf"]
	path = thirdparty/fastgltf
	url = https://github.com/spnda/fastgltf
[submodule "thirdparty/unordered_dense"]
	path = thirdparty/unordered_dense
	url = https://github.com/martinus/unordered_dense
[submodule "thirdparty/tclap"]
	path = thirdparty/tclap
	url = https://github.com/mirror/tclap
[submodule "thirdparty/xxHash"]
	path = thirdparty/xxHash
	url = https://github.com/Cyan4973/xxHash
[submodule "thirdparty/MikkTSpace"]
	path = thirdparty/MikkTSpace
	url = https://github.com/mmikk/MikkTSpace/
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb
[submodule "thirdparty/gltf-sample-assets"]
	path = thirdparty/gltf-sample-assets
	url = https://github.com/KhronosGroup/glTF-Sample-Assets
	ignore = dirty
[submodule "thirdparty/enkiTS"]
	path = thirdparty/enkiTS
	url = https://github.com/dougbinks/enkiTS
[submodule "thirdparty/OffsetAllocator"]
	path = thirdparty/OffsetAllocator
	url = https://github.com/sebbbi/OffsetAllocator
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm
[submodule "thirdparty/sdl"]
	path = thirdparty/sdl
	url = https://github.com/libsdl-org/SDL
[submodule "thirdparty/RobotoMono"]
	path = thirdparty/RobotoMono
	url = https://github.com/googlefonts/RobotoMono
[submodule "thirdparty/nlohmann_json"]
	path = thirdparty/nlohmann_json
	url = https://github.com/nlohmann/json
